.container-post {
  width: 25rem;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 5px;

  i {
    cursor: pointer;
  }

  .menu-option-post {
    width: 1rem !important;
  }

  .date-post-info {
    margin: 0 !important;
    font-size: 0.8rem;
  }

  .post-data {
    p {
      font-size: 0.9rem;
    }

    .container-images {
     // width: 100%;
      display: flex;
      flex-wrap: wrap;


      img {
        flex: 1 1 auto;
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    swiper-container {
      img {
        width: 100%;
      }
    }
  }

  .user-actions {
    border-top: 1px solid #dddddd;

    p {
      margin-bottom: 0 !important;
      margin-left: 0.3rem;
    }

    i {
      cursor: pointer;
    }
  }
}

.user-profile-info {

  .profile-image {
    width: 2rem;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .username {
    margin-bottom: 0 !important;
    margin-left: 1rem;
    font-weight: 500;
    color: #2f2f2f;
    margin-right: 0.3rem;
  }
}

.add-margin-right {
  margin-right: 1rem;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

::ng-deep .swiper-button-next {
  background-color: #E9E0DE!important;
  color: #A6999B!important;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.2rem;
  border-radius: 50%;
}

::ng-deep .swiper-button-prev {
  background-color: #E9E0DE!important;
  color: #A6999B!important;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.2rem;
  border-radius: 50%;
}


@media (max-width: 768px) {
  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
}
