<!-- <div class="container-create-post">
  <div class="form-group input-user">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Compose new post"></textarea>
  </div>
  <div class="bottom-side d-flex align-items-center justify-content-between">
    <div class="custom-file">
      <label for="fileInput">
        <mat-icon class="material-symbols-outlined">
          image
        </mat-icon>
      </label>
      <input id="fileInput" type="file" style="display:none" (change)="onFileSelected($event)">
    </div>
    <mat-icon class="material-symbols-outlined">
      send
    </mat-icon>
  </div>
</div> -->

<form class="container-create-post mb-5">
  <div class="post-container" (click)="openImageDialog()">
    <textarea class="post-input" placeholder="Cosa hai in mente?" rows="1"></textarea>
    <div class="actions-container">
      <div class="custom-file">
        <label>
          <mat-icon class="material-symbols-outlined">
            image
          </mat-icon>
        </label>
        <input id="fileInput" type="file" style="display:none">
      </div>
      <div class="spacer"></div>
      <i class="fa-solid fa-paper-plane"></i>
    </div>
  </div>
</form>

