<div class="container-home d-flex justify-content-between">
  <div class="feed d-flex flex-column align-items-center">
    <div class="container-title d-flex justify-content-start mt-4 mb-4">
      <h3>Home</h3>
    </div>

    <app-create-post></app-create-post>

    <app-post></app-post>
  </div>
  <div class="container-popular-user flex-column">
    <!-- <form class="form-inline mt-3 mb-5" [formGroup]="searchUser">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
        formControlName="value">
    </form> -->


    <div class="mt-3 mb-5">
      <form [formGroup]="searchUser">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
          </div>
          <input type="search" id="default-search" formControlName="value"
            class="block w-full pt-2 pb-2 pr-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search users...">
        </div>
      </form>
    </div>


    <app-user-list></app-user-list>
  </div>
</div>
