.container-home {
  min-height: 100vh;

  .feed {
    width: calc(100% - 16rem - 2rem);
    height: 100%;

    .container-title {
      width: 25rem;
    }
  }

  .container-popular-user {
    position: fixed;
    width: 16rem;
    right: 0;
    height: 100%;
    margin-right: 2rem;
  }
}
