<button mat-icon-button mat-dialog-close aria-label="Close dialog" class="bnt-close">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-content class="dialog-content mt-5">

  <div class="container-dialog d-flex">
    <div class="container-images">
      <swiper-container slides-per-view="1" loop="false" css-mode="false" centeredSlides="true" pagination="true"
        pagination-dynamic-bullets="true" navigation="true">
        <swiper-slide>
          <img class="img-swip" src="./assets/img/post-image.jpg" alt="user post image">
        </swiper-slide>
      </swiper-container>
    </div>
    <div class="container-information">
      <div class="user-profile-info d-flex align-items-center justify-content-start mb-5">
        <div class="profile-image">
          <img src="./assets/img/female.jpeg" alt="user profile image">
        </div>
        <div class="container-info d-flex align-items-center">
          <p class="username">Melissa Adam</p>
          <p class="date-post-info">- 1h</p>
        </div>
      </div>
      <div class="container-post-comments">
        <div class="comment">
          <div class="user-profile-info d-flex align-items-center justify-content-start">
            <div class="profile-image">
              <img src="./assets/img/female.jpeg" alt="user profile image">
            </div>
            <div class="container-info-comment d-flex flex-column align-items-start">
              <div class="container-info d-flex align-items-center">
                <p class="comment-post d-flex align-items-start">
                  <span class="username">Melissa Adam</span>
                  It’s always day one for us no matter how much we learn and grow 🦾🦾</p>
              </div>
              <div class="d-flex align-items-center">
                <p class="date-post-info">1h</p>
                <p class="likes">12 likes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
