.nav {
  width: var(--nav-medium-width);
  border-right: 2px solid #e3e3e3;

  .logo-mobile {
    display: none;
    width: 100%;
  }

  .user-profile-info {
    position: relative;
    top: 95%;

    .profile-image {
      width: 3rem;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .username {
      margin-bottom: 0 !important;
      margin-left: 1rem;
    }
  }

  .user-actions {
    min-width: 11rem;

    //links
    .links {
      padding-left: 0 !important;

      li {
        list-style: none;

        a {
          margin-left: 1rem;
          text-decoration: none;
          color: #1D1D1D;
        }

        margin-bottom: 2rem;
      }

      mat-divider {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }

  .footer-nav {
    min-width: 11rem;

    //links
    .links {
      padding-left: 0 !important;

      li {
        list-style: none;

        a {
          margin-left: 1rem;
          text-decoration: none;
          color: #1D1D1D;
        }

        margin-bottom: 2rem;
      }
    }

    footer {
      font-size: 0.8rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1263px) {
  .nav {
    width: var(--nav-narrow-width);
    align-items: start !important;

    .top-nav {
      width: 100%;
      align-items: center;
    }

    .logo {
      width: 3rem;
    }

    .logo-mobile {
      display: block;
    }

    .logo-web {
      display: none;
    }

    .username {
      display: none;
    }

    .user-profile-info {
      align-items: start !important;
    }

    .user-actions {
      min-width: 100%;
    }

    .links {
      li {
        justify-content: center!important;
      }

      a {
        display: none;
      }

      .notification-badge {
        display: none;
      }
    }

    .footer-nav {
      min-width: 100%;
    }

    footer {
      display: none;
    }
  }
}
