<div class="container-post-detail pb-5 flex flex-col h-full">


  <!-----------------Header---------------------->
  <div class="header mt-4 pb-3 flex items-center justify-between">
    <mat-icon class="material-symbols-outlined" (click)="closeComments()">
      arrow_back_ios
    </mat-icon>
    <h1>{{isCommentOpened ? 'Comments' : 'Post'}}</h1>
    <div class="_ab18 _ab1b"></div>
  </div>
  <!-----------------End Header---------------------->

  <div class="container-post-detail flex flex-col h-full">
    <div class="user-information flex items-center justify-between" *ngIf="!isCommentOpened">
      <div class="flex items-center justify-start">
        <div class="profile-image">
          <img src="./assets/img/female.jpeg" alt="user profile image">
        </div>
        <div class="container-info flex items-center ml-3">
          <p class="username">Melissa Adam</p>
          <p class="date-post-info">- 1h</p>
        </div>
      </div>
      <!--------------Option btn for post---------->
      <i [matMenuTriggerFor]="menu" class="fa-solid fa-ellipsis-vertical"></i>
      <mat-menu #menu="matMenu" class="menu-option-post">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
      <!--------------End Option btn for post---------->

    </div>
    <div class="container-images" *ngIf="!isCommentOpened">
      <swiper-container slides-per-view="1" loop="false" css-mode="false" centeredSlides="true" pagination="true"
      pagination-dynamic-bullets="true" navigation="true" autoHeight="true" allowTouchMove="true" class="h-full">
        <swiper-slide>
          <img class="h-auto max-w-full" src="./assets/img/post-image.jpg" alt="user post image">
        </swiper-slide>
        <swiper-slide>Slide 2</swiper-slide>
        <swiper-slide>Slide 3</swiper-slide>
      </swiper-container>
    </div>
    <div class="bottom">

      <!-------User input comment----------->
      <div class="container-user-input d-flex align-items-center justify-content-between mt-3" *ngIf="isCommentOpened">
        <div class="profile-image">
          <img src="./assets/img/female.jpeg" alt="user profile image">
        </div>
        <form class="user-input-form">
          <div class="user-input-container d-flex align-items-center justify-content-between">
            <textarea #expandableTextarea aria-label="Add a comment…" placeholder="Add a comment…" autocomplete="off" autocorrect="off"
              class="user-input"></textarea>
            <button type="button" class="btn-post-comment">Post</button>
          </div>
        </form>
      </div>
      <!-------End User input comment----------->
      <div class="user-actions d-flex align-items-center pt-2" *ngIf="!isCommentOpened">
        <div class="d-flex align-items-center add-margin-right">
          <!-- <i class="fa-regular fa-heart"></i> -->
          <i class="fa-solid fa-heart"></i>
          <p>3</p>
        </div>
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-comment"></i>
          <p>{{numberOfComments}}</p>
        </div>
      </div>

      <div class="post-info">
        <div class="description">
          <span class="d-inline"> <!----------d-inline help to have text and name of the user in the same line-->
            <a rel="noopener noreferrer">Melissa Adam</a>
            Watching pic in pic video while scrolling this platform is great
          </span>
        </div>
        <div class="d-flex btn-comments" *ngIf="!isCommentOpened">
          <a (click)="loadComments()">View all {{numberOfComments}} comments</a>
        </div>

        <!---------------Comments section--------------->
        <div class="d-flex flex-column mt-4" *ngIf="isCommentOpened">
          <div class="d-flex flex-column" *ngIf="comments && comments.length > 0">
            <div class="comment mb-3" *ngFor="let comment of comments">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-start justify-content-start max-comment-width">
                  <div class="profile-image">
                    <img [src]="comment.user.profileImage" alt="user profile image">
                  </div>
                  <div class="container-info d-flex align-items-center">
                    <span class="d-inline">
                      <!----------d-inline help to have text and name of the user in the same line-->
                      <a rel="noopener noreferrer">{{comment.user.firstName}} {{comment.user.lastName}}</a>
                      {{comment.value}}
                    </span>
                  </div>
                </div>
                <mat-icon class="material-symbols-outlined">
                  favorite
                </mat-icon>
              </div>
              <p class="date-post-info">{{comment.createdAt | relativeTime}}</p>
            </div>
          </div>
          <app-loader class="d-flex align-items-center justify-content-center" [typeOfLoader]="'second'"
            *ngIf="!comments || comments.length === 0"></app-loader>
        </div>
        <!---------------End Comments section--------------->
      </div>
    </div>
  </div>

</div>
