@use '@angular/material' as mat;

.pop-up-allert {
  background: #FFFFFF;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.07), 0px 5px 44px rgba(0, 0, 0, 0.06), 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
  min-height: 68px;
  margin-top: 10px;
}

.container-pop-up{
  width: 400px;
  position: absolute;
  right: 40px;
  top: 75px;
  z-index: 1023;
}

.pop-up-title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.0rem;
  line-height: 1.5rem;
}


.pop-up-message {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #222222;
  p {
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.76rem;
    line-height: 1rem;
    letter-spacing: 0.1px;
    color: #1A2321;
  }
}

.block-back{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #0000007d;
  z-index: 1021;
  top: 0;
  right: 0;
}

.conte-icon {
  position: relative;
  .alert-type-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 28%;
    left: 37%;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .circle-icon{
    height: 68px;
    width: 100%;
  }
}

.danger-icon {
  color: map_get(mat.$red-palette, 900);
  .pop-up-title {
    color: map_get(mat.$red-palette, 900);
  }
}

.warning-icon, .working-icon {
  color: map_get(mat.$light-green-palette, 500);
  .pop-up-title {
   color: #CB6E17;
  }

}
.working-icon {
  .alert-type-icon{
    top: 30%!important;
    left: 36%!important;
    -webkit-animation:spin 1.5s linear  infinite;
    -moz-animation:spin 1.5s linear  infinite;
    animation:spin 1.5s linear  infinite;
    }
}

.info-icon {
  color: #54D1DB;
  .pop-up-title {
   color: #044E54;
  }
}

.done-icon {
  color: map_get(mat.$teal-palette, 300);
  .pop-up-title {
    color: map_get(mat.$teal-palette, 500);
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg);}}

.clouse-button-alert {
  position: absolute;
  top: 5px;
  right: 20px;
  width: 20px;
  text-align: center;
  cursor: pointer;
  color: #bdbdbd;
  font-size: 10px;
}
