.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #7285fb;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


///////// Second spinner //////////////
.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 4rem; /* Ajustat de la 6rem la 4rem */
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem #7285fb);
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 0.5rem #7285fb; /* Ajustat de la 1rem la 0.5rem */
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 1rem); /* Ajustat de la 2rem la 1rem */
  padding-bottom: calc(100% - 1rem); /* Ajustat de la 2rem la 1rem */
  box-shadow: 0 0 0 0 #7285fb;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 0.5rem #7285fb; /* Ajustat de la 1rem la 0.5rem */
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #7285fb;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #7285fb;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 0.5rem #7285fb; /* Ajustat de la 1rem la 0.5rem */
    opacity: 1;
  }
}

