<div class="container-notification d-flex flex-column">
  <div class="container-title d-flex justify-content-start mt-4 mb-4">
    <h3>Notifications</h3>
  </div>

  <div class="notification-list">

    <div class="notification d-flex align-items-center justify-content-between mb-4" *ngFor="let notification of notificationList" (click)="openNotification(notification.id)">
      <div class="container-icon" [ngSwitch]="notification.typeOfIcon">
        <mat-icon class="material-symbols-outlined" *ngSwitchCase="'like'">
          favorite
        </mat-icon>
        <mat-icon class="material-symbols-outlined" *ngSwitchCase="'comment'">
          chat
        </mat-icon>
      </div>
      <div class="description">
        <strong>{{notification.from}}</strong>
        {{notification.description}}
      </div>
      <div class="red"></div>
    </div>

  </div>
</div>
